.menu{
	margin-top: 30px;
}

#formulario{
	margin-top: 30px;
}

#formInputs{
	width: 25%;
}

.tabelaLog {
	margin-top: 30px;
}


#logo{
	height: 6rem;
	display: block;
	margin-left: auto;
	margin-right: auto;
}


